*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

#card-prod img{
    width: 100%;
    height: auto;  
}

#card-prod{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 20px;
    font-family: Arial, sans-serif;
}